iwads/*
!iwads/List.txt
pwads/3d_models/*
!pwads/3d_models/List.txt
pwads/huds/*
!pwads/huds/List.txt
pwads/Textures/*
!pwads/Textures/List.txt
pwads/weapons/*
!pwads/weapons/List.txt
pwads/wads/*
!pwads/wads/List.txt
working_folder/saves/
